// header

.header {
    position: absolute;
    width: 100%;
    height: 80px;
    //background: #000;
    z-index: 13;
}

// logo

.logo {
    position: absolute;
    margin-top: 76px;
    margin-left: 48px;
    //display: inline-block;
    width: 50px;
    z-index: 14;

    img {
        display: block;
        width: 46px;
        height: 57px;
    }
}

// logo

.header__logo-space {
    float: left;
    width: 110px;
    height: 80px;
    //background: #fff;
}

// nav, button space

.header__nav-button-space {
    float: left;
    width: 1256px;
}

.header__nav-space {
    margin-left: 110px;
    position: absolute;
    width: 100vw;
    height: 80px;
    z-index: 19;
    background: @dark;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 2.5% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 2.5% 100%);
}

.header__nav {
    height: 80px;
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 80px;

        li a, li a:hover {
            display: block;
            float: left;
            height: 80px;

            font: 14px 'Intro';
            text-transform: uppercase;
            color: @white;
            text-decoration: none;
            line-height: 80px;
        }
    }
}