@import '../styles/fonts.css';
h2,
p {
  margin: 0;
  padding: 0;
}
.icon {
  font-family: 'bananas' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow:before {
  content: "\e900";
  color: #fff;
}
.icon-events:before {
  content: "\e901";
  color: #ffed00;
}
.icon-festivals:before {
  content: "\e902";
  color: #ffed00;
}
.icon-foodtruck:before {
  content: "\e903";
  color: #ffed00;
}
.icon-hospitality:before {
  content: "\e904";
  color: #ffed00;
}
.icon-instoreactivation:before {
  content: "\e905";
  color: #ffed00;
}
.icon-merchandising:before {
  content: "\e906";
  color: #ffed00;
}
.icon-mia:before {
  content: "\e907";
  color: #ffed00;
}
.icon-ontraid:before {
  content: "\e908";
  color: #ffed00;
}
.icon-photo-activation:before {
  content: "\e909";
  color: #ffed00;
}
.icon-plus:before {
  content: "\e90a";
  color: #ffed00;
}
.icon-popup:before {
  content: "\e90b";
  color: #ffed00;
}
.icon-sampling:before {
  content: "\e90c";
  color: #ffed00;
}
a,
a:hover,
.header__nav-button-space__promo:before {
  transition: all 0.5s ease-in-out !important;
}
body {
  cursor: default;
  overflow-x: hidden !important;
}
a {
  cursor: pointer;
}
p {
  font: 16px 'Intro Bold';
}
.container {
  position: relative;
  margin: 0 auto !important;
  width: 1366px !important;
}
.button {
  display: inline-block;
}
body *::-moz-selection {
  background: #FFED00;
  color: #2d2a26;
}
body *::-webkit-selection {
  background: #FFED00;
  color: #2d2a26;
}
body *::selection {
  background: #FFED00;
  color: #2d2a26;
}
.header {
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 13;
}
.logo {
  position: absolute;
  margin-top: 76px;
  margin-left: 48px;
  width: 50px;
  z-index: 14;
}
.logo img {
  display: block;
  width: 46px;
  height: 57px;
}
.header__logo-space {
  float: left;
  width: 110px;
  height: 80px;
}
.header__nav-button-space {
  float: left;
  width: 1256px;
}
.header__nav-space {
  margin-left: 110px;
  position: absolute;
  width: 100vw;
  height: 80px;
  z-index: 19;
  background: #2d2a26;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 2.5% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 2.5% 100%);
}
.header__nav {
  float: right;
  width: 800px;
  height: 80px;
}
.header__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 80px;
}
.header__nav ul li a,
.header__nav ul li a:hover {
  padding: 0 47px 0 43px;
  margin-right: -48px;
  display: block;
  float: left;
  height: 80px;
  font: 14px 'Intro';
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  line-height: 80px;
  -webkit-clip-path: polygon(0 0, 60% 0, 100% 100%, 40% 100%);
  clip-path: polygon(0 0, 60% 0, 100% 100%, 40% 100%);
}
.header__nav ul li a:hover,
.header__nav ul li a:hover:hover {
  color: #FFED00;
}
.nav-active {
  -webkit-clip-path: polygon(0 0, 60% 0, 100% 100%, 40% 100%);
  clip-path: polygon(0 0, 60% 0, 100% 100%, 40% 100%);
  color: #2d2a26 !important;
  background: #FFED00;
  font-weight: bold !important;
}
.header__nav-button-space__promo {
  margin-top: 16px;
  float: right;
  width: 192px;
  height: 46px;
  background: #FFED00;
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
  clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
}
.header__nav-button-space__promo:before {
  position: absolute;
  margin: 1px 1px 1px 1px;
  display: block;
  width: 190px;
  height: 44px;
  background: #2d2a26;
  content: "Promo portal";
  -webkit-clip-path: polygon(0.5% 0, 85% 0, 99.5% 100%, 15% 100%);
  clip-path: polygon(0.5% 0, 85% 0, 99.5% 100%, 15% 100%);
  font: 14px 'Intro';
  color: #FFED00;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
}
.header__nav-button-space__promo:hover:before {
  color: #2d2a26;
  background: #FFED00;
}
.main-slider {
  width: 100%;
  position: relative;
  height: 800px;
  overflow: hidden;
  background: #000 url('../img/slide-1.png') no-repeat center;
  background-size: cover;
}
.main-slider__container {
  width: 1366px;
  position: relative;
  height: 800px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-padding-start: 0;
}
.main-slider__container li {
  width: 100%;
}
.main-slider__container li img {
  margin: 0 auto;
  margin-top: -200px;
  display: block;
}
.main-slider__container__mask {
  margin: 290px 0 0 0;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
}
.main-slider__container__mask h2 {
  font: 64px 'Intro Bold';
  line-height: 83px;
  text-transform: uppercase;
}
.main-slider__container__mask p {
  font: 18px 'Graphik';
  line-height: 34px;
}
.scroll-down {
  right: -23px;
  height: 14px;
  transform: rotate(-90deg);
  position: absolute;
}
.scroll-down p {
  float: left;
  font: 14px 'Intro';
  line-height: 16px;
  color: #fff;
}
.scroll-down span {
  margin: 8px 13px 0 0;
  float: left;
  display: block;
  width: 20px;
  height: 1px;
  background: #fff;
}
.scroll-down-container {
  bottom: 0;
  height: 90px;
  width: 100%;
  position: absolute;
  z-index: 10;
}
ul.rslides1_tabs {
  position: absolute;
  margin: -30px 0 0 0;
  width: 170px;
  height: 6px;
  z-index: 11;
  list-style: none;
}
ul.rslides1_tabs li {
  margin-right: 10px;
  float: left;
  width: 45px;
  height: 6px;
  background: #6e6d6d;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
}
ul.rslides1_tabs li a,
ul.rslides1_tabs li a:hover {
  display: block;
  width: 45px;
  height: 6px;
  background: 0;
  text-indent: -999999px;
  overflow: hidden;
}
ul.rslides1_tabs .rslides_here {
  float: left;
}
ul.rslides1_tabs .rslides_here a,
ul.rslides1_tabs .rslides_here a:hover {
  display: block;
  width: 45px;
  height: 6px;
  background: #FFED00;
  text-indent: -999999px;
  overflow: hidden;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
