.main-slider

        .scroll-down-container

            .container

                // scroll down

                .scroll-down
                    span
                    p
                        | Scroll down

        // main slider container

        .container

            ul.main-slider__container

                // item

                li
                    // mask
                    .main-slider__container__mask
                        h2
                            | WE ARE BANANAS,<br/>CRAFTSMEN OF<br/>EXPERIENCES
                        p
                            | We forge connections between brand and people.

                // item

                li
                    // mask
                    .main-slider__container__mask
                        h2
                            | Lorem ipsum dorem<br/>Dorem Dorem</br>Lorem
                        p
                            | Description

                // item

                li
                    // mask
                    .main-slider__container__mask
                        h2
                            | WE ARE BANANAS,<br/>CRAFTSMEN OF<br/>EXPERIENCES
                        p
                            | We forge connections between brand and people.
