.main-slider

        // main slider container

        .scroll-down-container

            .container

                // scroll down

                .scroll-down
                    span
                    p
                        | Scroll down

        ul.main-slider__container

            // item

            li
                // mask
                .main-slider__container__mask
                    h2
                        | WE ARE BANANAS,<br/>CRAFTSMEN OF<br/>EXPERIENCES
                    p
                        | We forge connections between brand and people.
                img(src="../img/slide-1.jpg" alt="@@")
            // item

            li
                // mask
                .main-slider__container__mask
                    h2
                        | Lorem ipsum dorem<br/>Dorem Dorem</br>Lorem
                    p
                        | Description
                img(src="../img/slide-1.jpg" alt="@@")
            // item

            li
                // mask
                .main-slider__container__mask
                    h2
                        | WE ARE BANANAS,<br/>CRAFTSMEN OF<br/>EXPERIENCES
                    p
                        | We forge connections between brand and people.
                img(src="../img/slide-1.jpg" alt="@@")